<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<h2> MOTD_MESSAGE </h2>
<h3> - MOTD_AUTHOR </h3>
<br>
<br>
<br>
<h1>
<a href="quiz.html">Quiz!</a>
</h1>
</body>
</html>
